.topen body {overflow-y: hidden;overflow-x: hidden;}

.sdt-main {position: fixed; top: 0; left: 0;max-width:147px; max-height: 148px;}

.sdt-content {}
.sdt-inner,
.sdt-cnr {position: relative;}

.sdt-main .sdt-cnr img.stretch {width: 100%; height: auto;}
.sdt-main .sdt-cnr a {display: block; width: 100%; height: 100%;top: 0; bottom: 0; left: 0;right: 0;border: none; text-decoration: none;}
.sdt-main .sdt-cnr a img {border: none; text-decoration: none;}
.sdt-main .sdt-cnr #sdtopen img {width: 100%; height: 100%;}
.sdt-main .sdt-cnr img#sdtfacebanner2 {position: absolute;top:0;left:0;display:block;opacity: 0; }

.sdt-main .sdt-cnr .sdtcnrtxt-container {top: 0; left: 0; right: 50.34%; }
.sdt-main .sdt-cnr .sdtcnrtxt-container img {width: 100%; height: auto; }

.sdt-main .sdt-cnr img#sdtcnrtxt,
.sdt-main .sdt-cnr a,
.sdt-main .sdt-cnr .sdtcnrtxt-container
 {position: absolute;}

#sdtcnrtxt {position: absolute; top:0; left: 0;}


.sdt-container {width: 940px; padding: 0 20px; margin: 0 auto; background: #fff;}

/* ===== Recording animation ====== */

.animated {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.animated.animatedmm {
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-timing-function: steps(1);
  animation-timing-function: steps(1);
}

@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
          animation-name: flash;
}


@-webkit-keyframes mouth {
  0%, 100%{
    opacity: 0;  }

  90% {
    opacity: 1;
  }

}

@keyframes mouth {
  0%, 100%{
    opacity: 0;  }

  90% {
    opacity: 1;
  }

}

.mouth {
  -webkit-animation-name: mouth;
          animation-name: mouth;
}




/* ===== Recording animation ====== */
body .sdt-modal {overflow-y: scroll; overflow-x: auto; display: none; position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 9999; background: #000;}

body .sdt-modal .sdt-inner {
  margin-top: 0;
-webkit-transition: all 0.8s ease-in-out;
-moz-transition: all 0.8s ease-in-out;
-ms-transition: all 0.8s ease-in-out;
-o-transition: all 0.8s ease-in-out;
transition: all 0.8s ease-in-out;
}
.topen .sdt-modal .sdt-inner {margin-top: 100px;}
.sdt-content {padding: 20px;padding-bottom: 40px;}
.sdt-modal .sdt-inner .sdt-container {position: relative;}
.sdt-modal .sdt-inner .sdt-container .sdt-close-btn {position: absolute;top: 5px; right: 10px;font-family: Arial!important; font-size: 25px; line-height: 25px;}

.topen .sdt-modal {display: block;padding: 0 10px;}

/* ============ text styling ========== */

body .sdt-content p {font-family: Times, serif; font-size: 18px;line-height: 20px;}
body .sdt-content h1 {font-size: 30px; line-height: 35px; margin: 0;font-family: Times, serif;}
body .sdt-content a,
body .sdt-close-btn
  {color: #000; text-decoration: none;}

body .sdt-content a {font-weight: bold;}
body .sdt-content a:hover {text-decoration: underline;}


/* ============ MOBILE ========== */


@media screen and (max-width: 980px) {
            .sdt-container {width: 94%; padding: 0 3%;}

            .topen .sdt-modal .sdt-inner {margin-top: 10px;}

        }





